{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Profile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" type="text/css">

    <style>
        .card {
            background-color: #101014;
            border: none ;
            color: white;

        }
        .card-body {
            background-color: #101014;
            color: #FFFFFF;
        }
        .card-body p {
            color: #FFFFFF;
        }
        .card-body h5 {
            color: #FFFFFF;
        }
        .card-body .btn-primary {
            background-color: #1167c4;
            border-color: #007bff;
        }
    </style>

</head>
<body>
	<style>
        .card {
            background-color: #101014;
            border: none !important;
        }
        .card-body {
            background-color: #101014;
            color: #fff;
        }
    </style>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="icon_close"></i></div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="{% url 'home' %}">
							<img src="{% static 'homepage/img/logo.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="./index.html">Homepage</a></li>
								<li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
									<ul class="dropdown">
										<li><a href="./anime-details.html">Game Details</a></li>
										<li><a href="./anime-watching.html">Anime Watching</a></li>
										<li><a href="./blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="./blog.html">Our Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">
						{% if user.is_authenticated %}
							<a class="cart" style="display: inline-block;" href="{% url 'cart' %}">
								<i class="fa-solid fa-cart-plus"></i>
								<span class="cart-badge">0</span>
							</a>
						{% endif %}
						<a href="#" class="search-switch"><span class="icon_search"></span></a>
						{% if user.is_authenticated %}
							<a href="{% url 'profile' %}"><span class="icon_profile"></span></a>
						{% else %}
							<a href="{% url 'login' %}"><span class="icon_profile"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Profile Section Begin -->
    <div class="container py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4"  style="background-color: #101014; border: none !important;">
                        <div class="card-body text-center" >
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" 
                                    alt="avatar" 
                                    class="rounded-circle img-fluid" 
                                    style="width: 150px; height: 150px; object-fit: cover;">
                            {% else %}
                                <img src="\media\avatars\default.png" 
                                    alt="default avatar" 
                                    class="rounded-circle img-fluid" 
                                    style="width: 150px; height: 150px; object-fit: cover;">
                            {% endif %}
                            <h5 class="my-3">{{ user.username }}</h5>
                            <p class="text-muted mb-1">Member</p>
                            <p class="text-muted mb-4">Joined: {{ user.date_joined|date:"d/m/Y" }}</p>
                            
                            
                        </div>
                    </div>
                    <!-- Buttom edit profile -->
                    <div class="d-grid">
                        <a href="#" class="btn btn-primary">
                            Edit Profile
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.username }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Joined</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        {{ user.date_joined|date:"d/m/Y H:i" }}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Bio</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.bio }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

	<script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'homepage/js/player.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'homepage/js/mixitup.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
	<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'homepage/js/main.js' %}"></script>


	<script>
		function updateCartCount() {
			fetch("{% url 'cart_count' %}")
				.then(response => response.json())
				.then(data => {
					const cartBadge = document.querySelector('.cart-badge');
					cartBadge.textContent = data.order_count;
				})
				.catch(error => {
					console.error('Error fetching cart count:', error);
				});
		}
		window.addEventListener('DOMContentLoaded', updateCartCount);
	</script>	
</body>	
</html>